@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.container {
	display: flex;
	width: 100vw;
	height: 55vh;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
	padding-top: 4%;
	background-color: #494949;
}

.container img {
	width: 3vw;
	height: 3vw;
}

.container h2,
h3
 {
	font-size: 1.1em;
	font-style: normal;
	color: #fff;
	font-family: 'josefin sans';
	font-weight: 100;
}


.container ul
li {
	font-size: 1.5em;
	font-style: normal;
	color: #fff;
	font-family: 'josefin sans';
	font-weight: 100;
}

.container button {
	background-color: transparent;
	border: none;
}

.footer4 {
	display: column;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
}

.btn{
	display: flex;
	flex-direction: column;
}

.btn button{
	display: flex;
	flex-direction: row;
	

}

.btn img{
	width: 2em;
	height: 2em;
	padding-right: 1em;
}

.footer5 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.logo{
width: 10%;
height: 7%;
}

.logo img{
	width: 90%;
	height: auto;
}

.Footer5{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	width: 20%;
	align-items: flex-start;
}
.imgW{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5%;
}

.imgW img{
	width: 20px;
	height: 20px;
	margin-right: 3px;
}


@media (max-width: 768px) {
	.container{
		padding-top: 0;
		margin: 0;
	}
	
	.container 
	ul
	li {
		font-size: 0.7em;
		font-weight: 300;
	}

	.container h2,
	h3 {
		font-size: 0.7em;
		font-weight: 300;
	}


	.btn{
		display: flex;
		flex-direction: row;
	}

	.btn button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

}

@media (max-width: 575.98px) {
	.container{
		padding: 0 0 0 0;
	}
	.container 
	ul
	li {
		font-size: 0.7em;
		font-weight: 400;
	}

	.container h2,
	h3 {
		font-size: 0.7em;
		font-weight: 400;
	}

	.btn{
		display: flex;
		flex-direction: row;
	}

	.btn button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

	.container img {
		width: 5vw;
		height: 5vw;
	}

	.logo{
		width: 15%;
		height: 11%;
		}

		.logo img{
			width: 90%;
			height: auto;
		}
}
