@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	background-color: #f7f4f0;
	height: 8em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}



.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 1vw;
	color:#494949;
	font-size: 1.1em;
	font-family: 'Josefin Sans';
	
}

.menu h3{
	color:#494949;
	font-family: 'Josefin Sans';
	font-weight: 400;
}

.logo{
	width: 20%;
}



.logo img {
	width: 9em;
	height: 6em;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.container1 {
	background-color:#eda598;
	height: 4vw;
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #f7f4f0;
}


.container1 li{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin:1vw;
	color: #f7f4f0;
	font-size: 1.2em;
	font-family: 'Josefin Sans';
	list-style-type: none;
}



.contenSearch{
	width: 10%;
}

.contenSearch button{
	background-color: transparent;
	border: none;
	color: #f7f4f0;
	padding: 1vw;
	cursor: pointer;
}

.contenSearch img{
	width: 1.5em;
	height: 1.5em;
	border: none;
	background-color: transparent;
}



.search {
	display: flex;
	width: 80%;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #627c8e;
	justify-content: flex-start;
	padding: 0 0 0 0;
}

.input {
	padding: 0 0 0 0;
	width: 20%;
	height: 3vw;
	border-radius: 0.25em;
	color: rgb(0, 0, 0);
	margin: 0em 0em 0em 0em;
	font-size: 1.2em;
}

.btnSearch {
	border-radius: 0.25em;
	color: #ffffff;
	margin: 0em 0em 0em 0em;
	padding: 0vw 0vw 0vw 0vw;
	background-color: #494949;
	font-family: 'Josefin Sans';
	font-size: 1.2em;
	height: 3vw;
}

.btnSearch:hover {
	background-color: #ffffff;
	color: #494949;
}

.carrito {
	width: 4em;
	height: 5em;
	margin-left: 0em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0em;
	
}

.carrito img {
	width: 2.5em;
	height: 2.5em;
	margin: 0 0 0 0;
	
}

.badge {
	background-color: #f02020;
	color: #ffffff;
	border-radius: 100%;
	padding: 0.2vw 0.4vw;
	font-size: 1vw;
}

.badge:hover {
	background-color: #ffffff;
	color: #f02020;
	cursor: pointer;
}

.btn {
	border-radius: 1.87rem;
	border: solid 0.2em #494949;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	margin: 0em 0em 0em 0em;
	color:#494949;
	font-family: 'Josefin Sans';
}

.btn:hover {
	background-color: #494949;
	color: #ffffff;
	cursor: pointer;
}

.signin {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 0.6vw;
	margin: 0 0 0 5vw;
	height: 8em;
}

.nav {
	margin-left: 0.5vw;
	margin: 1em;
	color: #494949;
	text-decoration: none;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	border: solid 0.2em #494949;
	border-radius: 0.7em;
	font-size: 1em;
	height: 8em;
}

.all section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	
}




@media (max-width: 991.98px) {
	.container
	{
		width: 100vw;
	}
}

@media (max-width: 768px) {
	.container {
		background-color: #eda598;
 }

	.menu {
	display: none;
	}
	
	.container1 {
		display: none;
	}

	.carrito img {
		width: 3em;
		height: 3em;
		margin: 0 0 0 4vw;
	}
}

@media (max-width: 575.98px) {
	.menu{
		display: none;
	}

	.nav{
		
		margin-left: 0;
		font-size: 1em;
	}

	.signin {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: space-around;
		column-gap: 1em;
		height: 7em;
	}
}
