@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container {
	display: flex;
	flex-direction: column;
	column-gap: 3vw;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
	margin-top: 2em;
}

.container1 {
	display: flex;
	flex-direction: row;
	column-gap: 3vw;
	width: 100vw;
	height: auto;
}

.col1 {
	margin-left: 1em;
	width: 50%;
	height: 50%;
	color: #494949;
}

.col1 p{
	color: #494949;
	font-size: 1em;
	font-family: 'Josefin Sans';

}

.check {
	border: solid 1px #eda598;
	border-radius: 5px;
	padding-left: 2em;
	background-color: #f9f6f6;
	margin-top: 0.6em;
	color: #494949;
	width: 28%;
	height: 30%;
}

.btn {
	background-color: #eda598;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 0.7em;
	font-size: 1.3em;
	font-family:'Josefin Sans';
	cursor: pointer;
	width: 60%;
	margin-left: 18%;
	margin-bottom: 5%;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #494949;
}

.btn:focus {
	background-color: #494949;
}

.btn:active {
	background-color: #494949;
}

.btn:disabled {
	background-color: #494949;
}

.btn:disabled:hover {
	background-color: #494949;
}

.check h2{
	color: #494949;
	font-size: 1em;
}

@media (max-width: 768px) {

	.btn {
		padding: 0.6em;
		font-size: 1.1em;
		font-family:'Josefin Sans';
		cursor: pointer;
		width: 70%;
		margin-left: 10%;
		margin-bottom: 5%;

	}

}

@media (max-width: 575.98px) {

	.container {
		margin-top: 1em;

	}
	.btn {
		padding: 0.5em;
		font-size: 1em;
		font-family:'Josefin Sans';
		cursor: pointer;
		width: 80%;
		margin-left: 9%;
	}

	.check {
		margin-top: 1em;
		color: #494949;
		width: 28%;
		height: 30%;
	}

}
